body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

#root {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #444;
}

input,
select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

button:hover {
  background-color: #656565;
}

hr {
  margin: 25px 0;
}

.todo-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category-item {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  color: green;
  font-weight: bold;
}

.not-completed {
  color: red;
  font-weight: bold;
}